.bottle {
     border: 2px solid seagreen;
     padding: 15px;
     margin: 10px;
     border-radius: 15px;
}

.bottle img {
     width: 200px;
     border-radius: 20px;
}

.bottle-btn {
     background-color: rgb(252, 86, 119);
     color: black;
     /* padding: 10px; */
}